<!DOCTYPE html>
<html>
<head>
    <title>Duplicate Logs</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='bootstrap.min.css') }}">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='bootstrap-icons.min.css') }}">
</head>

<body>

<div class="container mt-5">

    <h2><i class="bi bi-journal-text">Duplicate Detection Logs</i></h2><br>

    <table class="table table-bordered">

        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Value</th>
            <th>Date & Time</th>
        </tr>
        </thead>

        <tbody>

        {% for log in logs %}

        <tr>
            <td>{{ log[0] }}</td>
            <td>{{ log[1] }}</td>
            <td>{{ log[2] }}</td>
            <td>{{ log[3] }}</td>
        </tr>

        {% endfor %}

        </tbody>

    </table>
    <a href="/" class="btn btn-success mb-3">
        <i class="bi bi-plus-circle mt-2">Add Record</i>
    </a>

</div>

</body>
</html>